ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

figure,
p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

a:link:active,
a:visited:active {
  color: inherit;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}
