@import url(https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Lato);

:root {
  --main-font: 'Yeseva One', arial;
  --secondary-font: 'Gentium Book Basic', arial;
  --button-font: 'Lato', sans-serif;

  --text-base-size: 1rem;
  --text-scale-ratio: 1.25;

  --font-size-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --font-size-s: calc(1em / var(--text-scale-ratio));
  --font-size-m: calc(1em * var(--text-scale-ratio));
  --font-size-l: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --font-size-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --font-size-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --font-size-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

  --line-height-m: 1.25;
  --line-height-l: 1.5;
  --line-height-xl: 1.75;
  --line-height-xxl: 2;
}

button {
  font-family: var(--button-font);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  margin: 0;
  text-align: center;
}

h1 {
  font-size: var(--font-size-xxxl);
  font-weight: 100;
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: 100;
}

h4 {
  font-size: var(--font-size-l);
  font-weight: 100;
}
